

.App {
  display: block;

 
}
.Cart_items {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border: solid 1px #c1f3c0;
 
}
.cartEmpty {
  
  text-align: center;
  border: solid 1px #c1f3c0;
  width: 200px;
  margin: 0 auto;
  height: 25px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
form.App_form div {
  padding-top: 10px;
  padding-bottom: 10px;
}
form.App_form input {
  border: solid 1px #efd4ea;
  padding-left: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
}
form.App_form {
  text-align: center;
  border: solid 1px #c1f3c0;
  padding-top: 20px;
  padding-bottom: 20px;
}

span.countValue {
  font-weight: bold;
}
.Cart_items_close {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.App_product_item {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.Cart_items_close button {
  background: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  width: 25px;
  height: 25px;
  border: solid 1px black;
}
.Cart_items_item {
  padding-top: 5px;
  padding-bottom: 5px;
}
button.clearBtn{
  font-size: 14px;
  margin-right: 10px;
 padding-top: 5px;
  padding-bottom: 5px;

  background: white;
  border: solid 1px black;
  border-radius: 9px;
}
button.orderBtn,a.orderBtn{
  font-size: 14px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
 color: black;
  background: white;
  border: solid 1px black;
  border-radius: 9px;
  text-decoration: none;
  padding-left: 10px;
   padding-right: 10px;
}



.App_cart_mini_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}


.cart {
  padding-top: 20px;
 
  text-align: center;

 
  margin: 0 auto;
}

.itemTitle {
  padding-top: 20px;
  font-weight: bold;
  font-size: 19px;
}

.App_img img {
  max-height: 150px;
  width: auto;
}

button.btnCategory {
  font-size: 17px;
  
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  background: #ffffffb5;
  border: solid 1px black;
  border-radius: 9px;
}

button.incrBtn ,button.decrBtn{
  border-radius: 20px;
  width: 30px;
  height: 30px;
  border: solid 1px #b6ddd2;
  background: #e5f1d9;
  font-weight: bold;
  font-size: 18px;
}

.App_item {
  text-align: center;
  padding-top: 30px;
}

.App_item_img img {
  border: solid 1px #9dc795;
  padding: 8px;
}

.App_item_title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

span.costValue {
  font-weight: bold;
  color: red;
}

.App_item_img img {
  width: 350px;
}

a.btnTourl {
  font-size: 22px;
  text-decoration: none;
  color: black;
  border: solid 1px black;
  border-radius: 13px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.App_div_back {
  text-align: center;
  padding-top: 60px;
}

.App_items>a {
  text-decoration: none;
}

.itemTitle a {
  color: #1a1a1a;
  text-decoration: none;
}


.App_comments {
  text-align: center;
  padding-top: 70px;
}

.App_comments_title {
  font-size: 24px;
  padding-bottom: 22px;
  margin: 0 auto;
}

.App_comments_title span {
  border-bottom: solid 1px black;
  padding-bottom: 6px;
}

.App_comments_items_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.App_comments_items_item {
  width: 300px;
  margin: 0 auto;
}
.App_comments_items_block_up {
  display: flex;
  justify-content: space-around;
  padding-bottom: 8px;
}

.App_comments_items_item {
  width: 300px;
  margin: 0 auto;
  border: solid 1px #bddef5;
  margin-bottom: 18px;
}

.App_comments_items_item_author {
  font-weight: bold;
  color: red;
}

.App_comments_items_item_likes i {
  font-size: 16px;
  position: relative;
  top: 3px;
}

.App_comments_items_item_likes button {
  background: none;
  border: none;
}
.App_comments_empty {
  padding-bottom: 20px;
}


ul.pagination_ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
ul.pagination_ul {
  width: fit-content;
  margin: 0 auto;
  padding-top: 50px;
}

ul.pagination_ul li {

}

ul.pagination_ul li a {
  color: black;
  cursor: grabbing;
  font-weight: bold;
  font-size: 21px;
}

.App_item_like button {
  background: none;
  border: none;
}
.App_item_like {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.App_item_like span {
  position: relative;
  
  color: #ad0707;
  font-weight: bold;
}

i.material-icons {
  color: #ad0707;
}

.App_search {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

