.App_controls {
  display: block;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.App_controls span {
  padding-left: 10px;
  padding-right: 10px;
}

.App {
  display: grid;
  grid-template-columns:33% 33% 33%;
  grid-gap: 18px;
  margin: 0 auto;
}

.App {
  text-align: center;
  max-width: 1000px;
}

span.countClass {
  font-weight: bold;
  color: green;
  font-size: 20px;
}




@media all and (min-width:1300px){

  .App_order_form div input {
    width: 350px;
    height: 35px;
    padding-left: 11px;
}

  .cart { position: fixed;}
  .App_search input {
    height: 33px;
    padding-left: 20px;
    padding-right: 20px;
    width: 303px;
  }
  div#root {
    display: grid;
    grid-template-columns: 74% 26%;
     
    margin: 0 auto;
    padding-top: 30px;
  }

  .App_items {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 20px;
    justify-content: center;
  }

  .App_categories {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 48px;
  }

  .App_order_form_btn button {
   
    width: 263px;}

}


@media all and (max-width:1299px){

  .App_order_form_btn button {
   
    width: 80%;}

  .App_order_form div input {
    width: 80%;
    height: 35px;
    padding-left: 11px;
}
  .cart {
    position: relative;}
  .App_search input {
    height: 33px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    margin-top:30px ;
  }

  .App_items {
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 25% 25%;
    grid-gap: 20px;
    justify-content: center;
}
}

@media all and (max-width:999px){




  
  .App_items {
  display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    grid-gap: 20px;
}



div#root {
  display: block;

}
.App_categories {
  display: block;
  text-align: center;
}

.App_categories>div {
  margin-top: 20px;
}

.App_search input {
  width: 80%;
}














}

.Cart_items_item {
  border: solid 1px;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
}

span.summValue {
  color: red;
  font-weight: bold;
}

.Cart_items_item {
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

button.btnDeleteItemInCart {
  background: none;
  border: solid 1px black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: red;
}

.App_item_like {
 padding-top: 20px;
 padding-bottom: 20px;
}

.App_item_like {
  text-align: center;
  
}

ul.pagination_ul li {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  border-radius: 50px;
  padding: 7px;
  text-align: center;
  margin-left: 13px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.cart {
  
  width: -webkit-fill-available;
  margin-right: 13px;
}

.Cart_items_item a {
  color: #123552;
  text-decoration: none;
  font-weight: bold;
}


.App_order_form div {
  margin-top: 16px;
  text-align: center;
}

span.App_order_title {
  font-size: 20px;
  font-weight: bold;
}

.App_order_form_btn button {
  height: 40px;
    background: #4ba921;
  color: white;
  border: none;
  border-radius: 11px;
  font-weight: bold;
  font-size: 19px;
}



.App_testimonials {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.App_testimonials_title span {
  font-weight: bold;
  font-size: 24px;
}

.App_testimonials_title {
  padding-bottom: 20px;
}

.App_testimonials_items {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
}
.App_testimonials_item {
  padding: 16px;
  border: solid 1px #91e179;
}
.App_testimonials_item_user {
  font-weight: bold;
  font-size: 14px;
}

.App_testimonials_item_user span {
  background: red;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.App_testimonials_item_title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.App_testimonials_item_date span {
  background: green;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}